@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Poppins", sans-serif;
}

.bg-backgroundNav{
background-color: rgba(247, 191, 216, 0.7);
  }

  @keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall 6s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(100vh);
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh);
    opacity: 0;
  }
}

.animate-float {
  animation: float 4s linear infinite;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 2s ease forwards;
}

@keyframes slideUp {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slide {
  animation: slideUp 1.5s ease forwards;
}
